<br>

<p>Test</p>

<button mat-raised-button color="basic" (click)="sendInfo()">Info</button>
<button mat-raised-button color="primary" (click)="sendSuccess()">Success</button>
<button mat-raised-button color="accent" (click)="sendWarning()">Warning</button>
<button mat-raised-button color="warn" (click)="sendError()">Error</button>
<button mat-raised-button color="warn" (click)="loremIpsum()">Lorem Ipsum</button>
<button mat-raised-button color="warn" (click)="chanegTheme()">Change Theme</button>
<button mat-raised-button color="warn" (click)="changeOptions()">Change Position</button>


<ngx-notification [theme]="theme" [options]="options"></ngx-notification>

